<div class="background-overlay text-white py-2">
    <div class="contaier space-header">
        <div class="row justify-content-center py-5">
            <div class="col-6 text-center justify-content-center align-self-center">
                <h1 class="h1 mb-3 display-3">Bienvenido</h1>
                <p class="h5 lead mb-4">Bienvenidos a la aplicación web en la que puedes visualizar vídeos separados
                    en módulos sobre los tipos de mantenimiento para computadoras (preventivo y correctivo) y al
                    finalizar algunos de ellos, poder realizar pequeños cuestionarios relacionados a los temas
                    explicados.</p>

                {{#if (isAlum user.rol)}}
                <a href='/viewsUser/user' class="btn btn-outline-secondary btn-lg text-white">
                    Comenzar
                </a>
                {{else if (isAdmin user.rol)}}
                <a href='/viewsAdmi/admi' class="btn btn-outline-secondary btn-lg text-white">
                    Comenzar
                </a>
                {{else}}
                <a href='/usersLogin/signin' class="btn btn-outline-secondary btn-lg text-white">
                    Comenzar
                </a>
                {{/if}}


            </div>
        </div>
    </div>
</div>