<style>
    .imagen {
        width: 95%;
        height: 95%;
    }

    .text-justify {
        text-align: justify;
    }

    .fila {
        margin-right: 0;
    }
</style>

<p class="text-center display-5 fw-bold">Temario de los módulos</p>
<!-- HARDWARE  -->
<div class="row fila">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <img class="imagen" src="/img/Hardware.webp" alt="">
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <p class="display-5 text-center mb-5">Hardware</p>
        <p class="text-justify fs-6 m-5">Dentro de los submódulos del tema de hardware, se pueden encontrar diferentes
            recursos visuales que permiten conocer desde las partes físicas que conforman una computadora de escritorio
            y una laptop, hasta los pasos relacionados al proceso de mantenimiento de estos.</p>

        <p class="h4 text-start mx-5">Módulos disponibles de este tema:</p>

        <ul class="list-group py-3 px-5 ">
            <li class="list-group-item list-group-item-info">Mantenimiento de PC de escritorio</li>
            <li class="list-group-item">Identificación de problemas</li>
            <li class="list-group-item list-group-item-info">Armado de PC escritorio</li>
            <li class="list-group-item">Mantenimiento de laptop</li>
            <li class="list-group-item list-group-item-info">Armado de laptop</li>
            <li class="list-group-item">Periféricos</li>
        </ul>

    </div>
</div>

<!-- SOFTWARE-->
<div class="row fila pt-5 pb-5">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <p class="display-5 text-center mt-4">Software</p>
        <p class="text-justify fs-6 m-5">Este módulo permite conocer los puntos principales del correo institucional del
            IPN junto con sus ventajas, además del proceso de respaldo de información de una computadora y la creación
            de máquinas virtuales e instalación de un sistema operativo (diferente a Windows), que pueden ser de gran
            ayuda en algunas asignaturas que deben de cursar los alumnos de ESCOM. </p>

        <p class="h4 text-start mx-5">Temas disponibles en este módulo:</p>

        <ul class="list-group py-3 px-5">
            <li class="list-group-item list-group-item-warning">Programas base</li>
            <li class="list-group-item">Cuenta institucional y CISCO</li>
            <li class="list-group-item list-group-item-warning">Virtual Box y Ubuntu</li>
            <li class="list-group-item">Respaldo y particiones</li>
            <li class="list-group-item list-group-item-warning">USB Booteable</li>
            <li class="list-group-item">Desinstalar Ubuntu-Partición</li>
        </ul>


    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <img class="imagen py-4 my-4" src="/img/Software.webp" alt="">
    </div>
</div>


<!-- DUDAS -->
<div class="row fila pt-5 mt-5">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <img class="imagen" src="/img/Dudas.webp" alt="">
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <p class="display-5 text-center mt-4">Dudas</p>
        <p class="text-justify fs-6 m-5">En esta sección se dudas, se responden algunas de las preguntas con respecto a
            selección de las piezas de hardware al momento de querer armar una computadora de escritorio y la forma en
            la que podemos optimizar una.</p>

        <p class="h4 text-start mx-5">Temas disponibles en este módulo:</p>

        <ul class="list-group py-3 px-5 ">
            <li class="list-group-item list-group-item-success">Optimización de PC</li>
            <li class="list-group-item">Salidas de audio</li>
            <li class="list-group-item list-group-item-success">Cambio de GPU</li>
            <li class="list-group-item">Seleccionar piezas para una PC</li>
        </ul>
    </div>
</div>